[submodule "repo/pathogen"]
	path = repo/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "repo/nerdtree"]
	path = repo/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "repo/editorconfig"]
	path = repo/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "repo/go"]
	path = repo/go
	url = https://github.com/fatih/vim-go.git
[submodule "repo/airline"]
	path = repo/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "repo/powerline-fonts"]
	path = repo/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "repo/yajs"]
	path = repo/yajs
	url = https://github.com/othree/yajs.vim.git
